h1 {text-align: center;} 
body {
  font: normal 18px/1.5 "Fira Sans", "Times New Roman", sans-serif;
  background:#eee;
  color:rgb(0, 0, 0) ;
  padding: 50px 0;
}

.column {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.movies {
  padding: 50px;
  display: inline-block;
  margin: 100px 50px;
}

.chart {
  padding: 50px;
  display: inline-block;
  margin: 10px 50px;
}